<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>UID2 Publisher Server-Only Integration Example</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
  <link rel="shortcut icon" href="/images/favicon.png" />
</head>
<body>
  <h1>Server-Only UID2 Integration Example</h1>
  <p class="intro">This example demonstrates how a content publisher can use the UID2 services to implement the
    <a href="https://unifiedid.com/docs/guides/custom-publisher-integration">custom UID2 integration workflow</a>.
    [<a href="https://github.com/UnifiedID2/uid2-examples/tree/main/publisher/server_only">Source Code</a>]</p>
