<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Client-Server <%- productName %> Integration Example using JavaScript SDK</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
    <link rel="shortcut icon" href="/images/favicon.png" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="<%- uid2JsSdkUrl %>"></script>
    <script>
      $(document).ready(() => {
        let callbackCounter = 0;
        const sdkName = '<%- uid2JsSdkName %>';
        const sdk = window[sdkName];

        function updateGuiElements(state) {
          $('#targeted_advertising_ready').html(sdk.getAdvertisingToken() ? 'yes' : 'no');
          $('#advertising_token').html(String(sdk.getAdvertisingToken()));
          $('#login_required').html(sdk.isLoginRequired() ? 'yes' : 'no');
          $('#update_counter').html(callbackCounter);
          $('#identity_state').html(String(JSON.stringify(state, null, 2)));

          if (sdk.isLoginRequired()) {
            $('#login_form').show();
            $('#logout_form').hide();
          } else {
            $('#login_form').hide();
            $('#logout_form').show();
          }
        }

        function onUid2IdentityUpdated(state) {
          ++callbackCounter;
          updateGuiElements(state);
        }

        $('#logout').click(() => {
          sdk.disconnect();
          updateGuiElements(undefined);
        });

        updateGuiElements(undefined);

        sdk.init({
          baseUrl: '<%- uid2BaseUrl %>',
        });

        sdk.callbacks.push(onUid2IdentityUpdated);
      });
    </script>
  </head>
  <body>
    <%- include('intro.html'); -%>
    <p>
      <strong>Note:</strong> This is a <em>test-only</em> integration environment—not for production
      use. It does not perform real user authentication or generate production-level tokens. Do not
      use real user data on this page.
    </p>
    <table id="uid2_state">
      <tr>
        <td class="label">Ready for Targeted Advertising:</td>
        <td class="value"><pre id="targeted_advertising_ready"></pre></td>
      </tr>
      <tr>
        <td class="label"><%- productName %> Advertising Token:</td>
        <td class="value"><pre id="advertising_token"></pre></td>
      </tr>
      <tr>
        <td class="label">Is <%- productName %> Login Required?</td>
        <td class="value"><pre id="login_required"></pre></td>
      </tr>
      <tr>
        <td class="label"><%- productName %> Identity Updated Counter:</td>
        <td class="value"><pre id="update_counter"></pre></td>
      </tr>
      <tr>
        <td class="label"><%- productName %> Identity Callback State:</td>
        <td class="value"><pre id="identity_state"></pre></td>
      </tr>
    </table>
    <div id="login_form" style="display: none" class="form">
      <form action="/login" method="POST">
        <div class="email_prompt">
          <input
            type="text"
            id="email"
            name="email"
            placeholder="Enter an email address"
            style="border-style: none"
          />
        </div>
        <div><input type="submit" value="Generate <%- productName %>" class="button" /></div>
      </form>
    </div>
    <div id="logout_form" style="display: none" class="form">
      <form>
        <button type="button" class="button" id="logout">Clear <%- productName %></button>
      </form>
    </div>
  </body>
</html>
