<h1>Client-Server UID2 Integration Example using JavaScript SDK</h1>
<p class="intro">
  This example demonstrates how a content publisher can use the UID2 services and the
  <a href="https://unifiedid.com/docs/sdks/sdk-ref-javascript"
    >UID2 SDK for JavaScript</a
  >
  (UID2 SDK) to implement the
  <a href="https://unifiedid.com/docs/guides/integration-javascript-client-server"
    >client-server UID2 integration workflow</a
  >. [<a href="https://github.com/IABTechLab/uid2-examples/tree/main/web-integrations/javascript-sdk/client-server"
    >Source Code</a
  >]
</p>
