<h1>Client-Server <%- productName %> Integration Example using JavaScript SDK</h1>
<p class="intro">
  This example demonstrates how a content publisher can use the <%- productName %> services and the
  <a href="<%- docsBaseUrl %>/sdks/sdk-ref-javascript"
    ><%- productName %> SDK for JavaScript</a
  >
  (<%- productName %> SDK) to implement the
  <a href="<%- docsBaseUrl %>/guides/integration-javascript-client-server"
    >client-server <%- productName %> integration workflow</a
  >. [<a href="https://github.com/IABTechLab/uid2-examples/tree/main/web-integrations/javascript-sdk/client-server"
    >Source Code</a
  >]
</p>
