<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Login - Client-Server <%- productName %> Integration Example using JavaScript SDK</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
    <link rel="shortcut icon" href="/images/favicon.png" />
    <script src="<%- uid2JsSdkUrl %>"></script>
    <script>
      function onUid2IdentityUpdated(state) {
        // can automatically redirect user to index page here
      }

      const sdkName = '<%- uid2JsSdkName %>';
      const sdk = window[sdkName];
      sdk.init({
        baseUrl: "<%- uid2BaseUrl %>",
        identity: <%- JSON.stringify(identity) %>
      });
      sdk.callbacks.push(onUid2IdentityUpdated);
    </script>
  </head>
  <body>
    <%- include('intro.html'); -%>
    <p class="message">Generate <%- productName %> completed</p>
    <p><%- productName %> identity:</p>
    <pre><%- JSON.stringify(identity, null, 2) %></pre>
    <p><a href="/">Back to the main page</a></p>
    <p>
      Normally user would be redirected automatically, but this example demonstrates one way <%- productName %>
      generation could be handled.
    </p>
  </body>
</html>
