<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Server-Side <%- identityName %> Integration Example with Google Secure Signals</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
    <link rel="shortcut icon" href="/images/favicon.png" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script async src="<%- secureSignalsSdkUrl %>"></script>
    <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>

    <script type="text/javascript">
      const getAdvertisingToken = async () => {
        const response = await fetch('/getFreshToken');
        const result = await response.json();
        console.log(result);
        return result.advertising_token;
      };

      window.getAdvertisingToken = getAdvertisingToken;

      // If secureSignalProvider is initialized before getAdvertisingToken is assigned, call registerSecureSignalProvider
      const providerName = '__' + '<%- identityName %>'.toLowerCase() + 'SecureSignalProvider';
      if (window[providerName]) {
        window[providerName].registerSecureSignalProvider();
      }
    </script>
  </head>
  <body>
    <h1>Server-Side <%- identityName %> Integration Example with Google Secure Signals</h1>
    <p class="intro">
      This example demonstrates how a content publisher can use the <%- identityName %> services with Secure Signals to implement
      <a href="<%- docsBaseUrl %>/guides/integration-google-ss#server-side-integration">Server-Side Integration</a>. [<a
        href="https://github.com/IABTechLab/uid2-examples/tree/main/web-integrations/google-secure-signals/server-side"
        >Source Code</a
      >]
      <br />
      <br />
      This assumes that the publisher has implemented <%- identityName %> 
      <a href="<%- docsBaseUrl %>/guides/integration-publisher-server-side">Server-Side Integration</a>
      on the back end and can pass the resulting <%- identityName %> identity response to the front end.
    </p>
  </body>
</html>
