services:
  # javascript sdk integrations
  javascript-sdk-client-side:
    build:
      context: .
      dockerfile: web-integrations/javascript-sdk/client-side/Dockerfile
    ports:
      - "3031:3031"
    container_name: javascript-sdk-client-side
    env_file:
      - .env
  
  javascript-sdk-client-server:
    build:
      context: .
      dockerfile: web-integrations/javascript-sdk/client-server/Dockerfile
    ports:
      - "3032:3032"
    container_name: javascript-sdk-client-server
    env_file:
      - .env

  javascript-sdk-react-client-side:
    build:
      context: .
      dockerfile: web-integrations/javascript-sdk/react-client-side/Dockerfile
    ports:
      - "3034:3034"
    container_name: javascript-sdk-react-client-side
    env_file:
      - .env

  # server-side integration (no SDK)
  server-side:
    build:
      context: .
      dockerfile: web-integrations/server-side/Dockerfile
    ports:
      - "3033:3033"
    container_name: server-side
    env_file:
      - .env

  # secure signals integrations
  google-secure-signals-client-server:
    build:
      context: .
      dockerfile: web-integrations/google-secure-signals/client-server/Dockerfile
    ports:
      - "3041:3041"
    container_name: google-secure-signals-client-server
    env_file:
      - .env

  google-secure-signals-client-side:
    build:
      context: .
      dockerfile: web-integrations/google-secure-signals/client-side/Dockerfile
    ports:
      - "3042:3042"
    container_name: google-secure-signals-client-side
    env_file:
      - .env

  google-secure-signals-server-side:
    build:
      context: .
      dockerfile: web-integrations/google-secure-signals/server-side/Dockerfile
    ports:
      - "3043:3043"
    container_name: google-secure-signals-server-side
    env_file:
      - .env

  google-secure-signals-react-client-side:
    build:
      context: .
      dockerfile: web-integrations/google-secure-signals/react-client-side/Dockerfile
    ports:
      - "3044:3044"
    container_name: google-secure-signals-react-client-side
    env_file:
      - .env

  # prebid integrations
  prebid-client:
    build:
      context: .
      dockerfile: web-integrations/prebid-integrations/client-side/Dockerfile
    ports:
      - "3051:3051"
    container_name: prebid-client-side
    env_file:
      - .env

  prebid-client-server:
    build:
      context: .
      dockerfile: web-integrations/prebid-integrations/client-server/Dockerfile
    ports:
      - "3052:3052"
    container_name: prebid-client-server
    env_file:
      - .env

  # prebid + secure signals integrations
  prebid-secure-signals-client-side:
    build:
      context: .
      dockerfile: web-integrations/prebid-secure-signals/client-side/Dockerfile
    ports:
      - "3061:3061"
    container_name: prebid-secure-signals-client-side
    env_file:
      - .env

