<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Server-Side <%- productName %> Integration Example</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
  <link rel="shortcut icon" href="/images/favicon.png" />
</head>
<body>
  <h1>Server-Side <%- productName %> Integration Example</h1>
  <p class="intro">This example demonstrates how a content publisher can use <%- productName %> services to implement the
    <a href="<%- docsBaseUrl %>/guides/integration-publisher-server-side">server-side <%- productName %> integration workflow</a>.
    [<a href="https://github.com/IABTechLab/uid2-examples/tree/main/web-integrations/server-side">Source Code</a>]</p>
