<h1>Client-Server <%- identityName %> SDK Integration Example with Google Secure Signals</h1>
<p class="intro">
  This example demonstrates how a content publisher can use the <%- identityName %> services and the
  <a href="<%- docsBaseUrl %>/sdks/sdk-ref-javascript"
    ><%- identityName %> SDK for JavaScript</a
  >
  to implement the
  <a
    href="<%- docsBaseUrl %>/guides/integration-google-ss#sdk-for-javascript-client-server-integration"
    >client-server <%- identityName %> integration with Secure Signals</a
  >. [<a
    href="https://github.com/IABTechLab/uid2-examples/tree/main/web-integrations/google-secure-signals/client-server"
    >Source Code</a
  >]
</p>
