<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Client-Server UID2 SDK Integration Example with Google Secure Signals - Opted Out</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
    <link rel="shortcut icon" href="/images/favicon.png" />
  </head>
  <body>
    <%- include('intro.html'); -%>
    <p class="message">This email has opted out</p>
    <p>
      The email address you entered has opted out of UID2. No UID2 token can be generated for this
      email.
    </p>
    <p><a href="/">Back to the main page</a></p>
  </body>
</html>

